body{
    margin: 0;
}

.primary-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}
.primary-nav ul{
    margin: 0;
    display: flex;
    padding: 0;
}

.primary-nav ul li{
    list-style-type: none;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.primary-nav ul li a{
    text-decoration: none;
    color: black;
    
}

.primary-nav ul li a:hover{
    
    text-decoration: underline;
}

.image-header{
    padding: 0 10px 0 10px;
}
.image-header img{
    width: 100%;
}

.ms-products-wrapper{
    display: flex;
}

.product-card{
    width: 25%;
    background-color: white;
    margin: 10px;
   
}

.product-card img{
    width: 100%;
}

.container{
    width: 70%;
    margin: 0 auto;
    
}

.position-box{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 1);
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}